/* src/globals.css */
@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: transparent;
}

/* Personnalisation des toasts */
.Toastify__toast {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

/* Personnalisation des toasts */
.Toastify__toast {
  @apply rounded-lg shadow-md font-semibold;
}

.Toastify__toast--success {
  @apply bg-green-500 text-white;
}

.Toastify__toast--error {
  @apply bg-red-500 text-white;
}

.Toastify__toast--info {
  @apply bg-blue-500 text-white;
}

.Toastify__toast--warning {
  @apply bg-yellow-500 text-white;
}

.Toastify__progress-bar--success {
  @apply bg-green-700;
}

.Toastify__progress-bar--error {
  @apply bg-red-700;
}

.Toastify__progress-bar--info {
  @apply bg-blue-700;
}

.Toastify__progress-bar--warning {
  @apply bg-yellow-700;
}